@media (min-width: 576px) {
    .user-container-width {
        max-width: 250px;
    }
}

.input-container {
    padding-bottom: 64px;
}

@media (min-width: 576px) {
    .input-container {
        padding-bottom: 1rem;
    }
}

.message-container-height {
    height: 100dvh;
}

@media (min-width: 576px) {
    .message-container-height {
        height: calc(100dvh - 2rem);
    }
}