@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    transition: 0.2s;
}

body {
    font-family: 'Figtree', sans-serif!important;
}

.ph, .ph-fill {
    font-size: 28px!important;
}

.nav-link:hover {
    opacity: 1!important;
}

.nav-link.active {
    font-weight: 600;
}

@keyframes fadeOpacity {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

#loading {
	text-align: center;
    font-weight: 700;
}

#loading span:not(:last-child) {
	margin-right: 5px;
}

#loading span {
	animation: fadeOpacity 1s infinite;
}

#loading span:nth-child(2) {
	animation-delay: 100ms;
}

#loading span:nth-child(3) {
	animation-delay: 300ms;
}

@keyframes fadeInBottom {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOutBottom {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(100%);
	}
}

.fade-in-bottom {
	animation: fadeInBottom 0.3s ease-out forwards;
}

.fade-out-bottom {
	animation: fadeOutBottom 0.3s ease-out forwards;
}